[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.13"

[scripts]
reset = "pwsh -Command Remove-Item .venv -Force -Recurse | pipenv update -d"
